<page-header pageBaseName="Configuration" pageName="Accounts"></page-header>
<div class="accounts">
    <button class="button" routerLink="/cockpit/accounts/edition">
        <img width="15" height="15" src="icons/plus.svg" alt="plus">
        Add account
    </button>
    <table>
        <tr>
            <th class="th-icon"></th>
            <th>Name</th>
            <th>Balance</th>
            <th>Type</th>
        </tr>
        @for (account of accounts(); track $index) {
            <tr>
                <td>
                   @switch (account.type) {
                    @case ('Current') {
                        <img src="icons/building.svg" alt="building">
                    }
                    @case ('Saving') {
                        <img src="icons/pig.svg" alt="pig">
                    }
                    @case ('Credit card') {
                        <img src="icons/card.svg" alt="card">
                    }
                    @case ('Debt') {
                        <img src="icons/chart.svg" alt="chart">
                    }
                    @case ('Investmnent') {
                        <img src="icons/stack.svg" alt="stack">
                    }
                   } 
                </td>
                <td>
                    {{ account.name }}
                </td>
                <td>
                    {{ account.amount }} CHF
                </td>
                <td>
                    {{ account.type }}
                </td>
            </tr>
        }
    </table>
</div>