<page-header pageBaseName="Configuration" pageName="Accounts"></page-header>
<div class="accounts">
    <button class="button" (click)="openPopup()">
        <img width="15" height="15" src="icons/plus.svg" alt="plus">
        Add account
    </button>
    <table>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Balance</th>
            <th>Type</th>
        </tr>
        <tr>
            <td>
                <img src="icons/pig.svg" alt="">
            </td>
            <td>Current (BCV)</td>
            <td>102 CHF</td>
            <td>Current</td>
        </tr>
        <tr>
            <td></td>
            <td>Saving (BCV)</td>
            <td>1000 CHF</td>
            <td>Saving</td>
        </tr>
        <tr>
            <td>
                <img src="icons/card.svg" alt="">
            </td>
            <td>Credit card</td>
            <td>-820 CHF</td>
            <td>Credit card</td>
        </tr>
    </table>
</div>
<app-popup
    [isOpen]="showPopup()"
    [title]="popupText"
    [closeOnOverlayClick]="true"
    (closeEvent)="onClosePopup()"
    [showFooter]="true"
>
    <form>
        <div>
            <label for="Name">Name :</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="balance">Balance :</label>
            <input type="number" name="balance" id="balance">
        </div>
        <div>
            <label for="type">Type :</label>
            <select name="type" id="type">
                <option value="Current">Current</option>
                <option value="Saving">Saving</option>
                <option value="Credit card">Credit card</option>
                <option value="Debt">Debt</option>
            </select>
        </div>
    </form>
    <div slot="footer">
        <button class="button">Save</button>
    </div>
</app-popup>