:host {

    font-size: 20px;

    .title {
        // font-size: 24px;
        font-weight: bold;
        padding: 20px 0;
        display: flex;
        gap: 5px;
        color: var(--text-color);
        align-items: center;

        img {
            width: 18px;
            height: 18px;
            filter: var(--filter-gray)
        }

        .base-route {
            color: var(--text-gray) !important;
            // font-size: 18px;
            font-weight: normal;
        }

        .router-link:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}