<page-header [pagePath]="pagePath"></page-header>
<form [formGroup]="editForm" class="form" action="">
    <div class="form-container">
        <label for="name">Name</label>
        <input [class.invalid-input]="submitted() && !editForm.controls.name.valid" formControlName="name" placeholder="Enter name here" type="text" name="name" id="name">
        @if (submitted() && editForm.controls.name.errors) {
            @if (editForm.controls.name.errors['required']) {
                <div class="form-error">
                    This field is required
                </div>
            }
            @if (editForm.controls.name.errors['maxlength']) {
                <div class="form-error">
                    Max length of name is {{ editForm.controls.name.errors['maxlength'].requiredLength }}
                </div>
            }
        }
    </div>
    <div class="form-container">
        <label for="">Icon</label>
        <div class="icons">
            @for (icon of iconList(); track $index) {
                <div (click)="selectedIcon.set(icon)" [class.selected]="selectedIcon() == icon" class="icon">
                    <img [src]="'category_icons/' + icon + '.svg'" [alt]="icon">
                </div>
            }
        </div>
        @if (submitted() && editForm.controls.icon.errors) {
            @if (editForm.controls.icon.errors['required']) {
                <div class="form-error">
                    This field is required
                </div>
            }
        }
    </div>
    <div class="form-container">
        <label for="">Color</label>
        <div class="colors">
            @for (color of colorList(); track $index) {
                <div (click)="selectedColor.set(color)" [class.selected]="selectedColor() == color" class="color">
                    <div [ngStyle]="{ 'background-color': color }" class="item"></div>
                </div>
            }
        </div>
        @if (submitted() && editForm.controls.color.errors) {
            @if (editForm.controls.color.errors['required']) {
                <div class="form-error">
                    This field is required
                </div>
            }
        }
    </div>
    <div class="actions">
        <button (click)="submitForm()" [disabled]="formState().loading" class="button" type="submit">Save</button>
        @if (editMode()) {
            <button (click)="submitForm(!isArchived)" class="button primary-button">
                <img src="icons/archive.svg" alt="archive">
                {{ isArchived ? 'Unarchive' : 'Archive' }}
            </button>
        }
    </div>
</form>