<div class="sidebar" 
         [class.open]="isMobileSidebarOpen()">
    <div class="head">
        <span class="title">Budget Analytics</span>
    </div>
    <div class="nav">
        <div class="section">
            <a class="nav-btn" 
                routerLink="/cockpit"
                routerLinkActive="active"
                >
                <img class="icon" src="icons/home.svg" alt="home">
                <span>Dashboard</span>
            </a>
            <a class="nav-btn" 
                routerLink="/cockpit/mouvements"
                routerLinkActive="active"
                >
                <img class="icon" src="icons/arrow-left-right.svg" alt="arrow-left-right">
                <span>Mouvements</span>
            </a>
        </div>
        <div class="section">
            <span class="section-title">Analytics</span>
            <a class="nav-btn" 
                routerLink="/cockpit/mouvements"
                routerLinkActive="active"
                >
                <img class="icon" src="icons/dollar.svg" alt="dollar">
                <span>Net worth</span>
            </a>
            <a class="nav-btn" 
                routerLink="/cockpit/spending"
                routerLinkActive="active"
                >
                <img class="icon" src="icons/numbered-list.svg" alt="numbered-list">
                <span>Spending</span>
            </a>
            <a class="nav-btn"
                routerLink="/cockpit/budget"
                routerLinkActive="active"
                >
                <img class="icon" src="icons/pig.svg" alt="pig">
                <span>Budget</span>
            </a>
        </div>
        <div class="section">
            <span class="section-title">Configuration</span>
            <a class="nav-btn"
                routerLink="/cockpit/accounts"
                routerLinkActive="active"
                >
                <img class="icon" src="icons/bank-notes.svg" alt="bank-notes">
                <span>Accounts</span>
            </a>
            <a class="nav-btn"
                routerLink="/cockpit/categories"
                routerLinkActive="active"
                >
                <img class="icon" src="icons/block-quote.svg" alt="block-quote">
                <span>Categories</span>
            </a>
        </div>
        <div class="section">
            <div class="section-title">Settings</div>
            <a class="nav-btn"
                routerLink="/cockpit/settings"
                routerLinkActive="active"
                >
                <img class="icon" src="icons/cog.svg" alt="cog">
                <span>Settings</span>
            </a>
            <a class="nav-btn"
                routerLink="/cockpit/theme"
                routerLinkActive="active"
                >
                <img class="icon" src="icons/paint-brush.svg" alt="paint-brush">
                <span>Theme</span>
            </a>
        </div>
    </div>
    <div class="account">
        <!-- account -->
        <!-- logout -->
    </div>
</div>
<div class="content">
    <div class="mobile-menu" 
        (click)="toggleMobileSidebar()">
        <img src="icons/chevron-left.svg" 
                alt="Toggle menu"
                [class.rotated]="isMobileSidebarOpen()">
    </div>
    <router-outlet></router-outlet>
</div>
    
@if (isMobileSidebarOpen()) {
    <div class="overlay" (click)="closeMobileSidebar()"></div>
}