:host {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    height: 100vh;

    .head {
        display: flex;
        justify-content: space-between;
        flex-shrink: 0;

        .create-btn-container {
            padding: 20px 0;

            .button {
                color: var(--text-gray);

            img {
                filter: var(--filter-gray);
            }
        }
        }
    }

    .mouvements {
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex: 1;
        min-height: 0;

        table th {
            position: sticky;
            top: 0;
            z-index: 1000;
        }


        .table-wrapper {
            // flex: 1;
            overflow: auto;
        }
    }
}