<div class="head">
    <page-header pageName="Mouvements"></page-header>
    <div class="create-btn-container">
            <button class="button" routerLink="/cockpit/mouvements/edit">
                <img width="15" height="15" src="icons/plus.svg" alt="plus">
                Create
            </button>
        </div>
    </div>
<div class="mouvements">
    <div class="table-wrapper">
        <table>
            <tr>
                <th>Category</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Account</th>
                <th>Date</th>
            </tr>
            @for (transaction of transactionsWithDetails(); track transaction) {
                <tr [routerLink]="'/cockpit/mouvements/edit/' + transaction.id">
                    <td>
                        <img [src]="'category_icons/' + transaction.category?.icon + '.svg'" [alt]="transaction.category?.icon">
                        {{ transaction.category?.name }}
                    </td>
                    <td>{{ transaction.description }}</td>
                    <td>
                        {{ transaction.amount }} CHF
                    </td>
                    <td>
                        @switch (transaction.account?.type) {
                            @case ('Current') {
                                <img src="icons/building.svg" alt="building">
                            }
                            @case ('Saving') {
                                <img src="icons/pig.svg" alt="pig">
                            }
                            @case ('Credit card') {
                                <img src="icons/card.svg" alt="card">
                            }
                            @case ('Debt') {
                                <img src="icons/chart.svg" alt="chart">
                            }
                            @case ('Investment') {
                                <img src="icons/stack.svg" alt="stack">
                            }
                       }
                       <span>
                        {{ transaction.account?.name }}
                       </span>
                    </td>
                    <td>{{ transaction.date | date }}</td>
                </tr>
            }
            @if (isLoading()) {
                @for (item of skeletonCount; track item) {
                    <tr>
                        <td><div class="cell-loading"></div></td>
                        <td><div class="cell-loading"></div></td>
                        <td><div class="cell-loading"></div></td>
                        <td><div class="cell-loading"></div></td>
                    </tr>
                }
            }
        </table>
    </div>


</div>