<div class="title">
    Dashboard
</div>
<div class="numbers">
    <div class="number">
        <div class="name">
            <img src="icons/dollar.svg" alt="dollar">
            <span>Total net worth</span>
        </div>
        <div class="value">
            102 CHF
        </div>
    </div>
    <div class="number">
        <div class="name">
            <img src="icons/numbered-list.svg" alt="numbered-list">
            <span>Spent this month</span>
        </div>
        <div class="value">
            22 CHF
        </div>
    </div>
    <div class="number">
        <div class="name">
            <img src="icons/folder.svg" alt="folder">
            <span>Projects</span>
        </div>
        <div class="value">
            2
        </div>
    </div>
    <div class="add-more">
        <div class="icon">
            <img src="icons/plus.svg" alt="plus">
        </div>
        <div class="text">
            Add more
        </div>
    </div>
</div>