:host {
    display: block;
    margin: 0 20px;
    
    .title {
        font-size: 24px;
        font-weight: bold;
        padding: 20px 0;
        color: var(--text-color);
    }

    .numbers {
        display: flex;
        overflow-y: auto;
        gap: 10px;

        .number {
            padding: 20px;
            border: 2px solid var(--border-gray);
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            gap: 5px;

            .name {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                color: var(--text-gray);

                img {
                    width: 15px;
                    height: 15px;
                    filter: var(--filter-gray)
                }
            }

            .value {
                font-size: 24px;
                font-weight: bolder;
                color: var(--text-color);
            }
        }

        .add-more {
            padding: 20px;
            border: 2px dotted rgba(0, 0, 0, 0.08);
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            cursor: pointer;
            color: #808080;
            align-items: center;
            justify-content: center;

            .icon {
                display: flex;
                justify-content: center;

                img {
                    filter: var(--filter-gray);
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}